:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --card-bg: #1a1a1a;
  --input-bg: #333;
  --border-color: #444;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #747bff;
    --background-color: #ffffff;
    --text-color: #213547;
    --card-bg: #f9f9f9;
    --input-bg: #fff;
  }
  button {
    background-color: #f9f9f9;
  }
}
